body {
  padding-top: 1em;
  height: 100%;
}

ul {
  li {
    list-style: none;
  }
}

a {
  color: darken($primary-color, 10%);
}

.row,
.content,
.openingtimes {
  margin-bottom: 1em;
}
.logo {
  //width: 300px;
  padding: 0.5em;
  padding-left: 62px;
  margin: 0;
  background: $primary-color url(../img/logo.png) no-repeat 10px center;
  min-height: 85px;

  h1 {
    color: white;
    line-height: 1.55em;
    font-size: 1.2em;
  }

  .index & {
    margin-bottom: 5em;
  }

  #team-wittstock &,
  #praxis-wittstock &,
  #leistungen-wittstock &,
  #anfahrt-wittstock & {
    line-height: 1.15em;
  }
}

.address,
.gallery,
.contact,
.content {
  background-color: $panel-bg-light;
}

.slidesholder,
.openingtimes {
  background-color: $panel-bg-dark;
}

.dropdown-nav-dropper {
  display: block;
  float: right;
  line-height: 1.2em;
  font-size: 2.5em;
  font-weight: bold;
  color: darkgray;
}

.nav {
  margin: 0;
  height: auto;
  //padding: 0.5em;

  & > li {
    width: 49%;
     &:nth-child(2n) {
       margin-left: emCalc(7px);
     }

    @media #{$small} {
      & {
        width: 24%;
        margin-right: emCalc(7px);
        margin-left: 0 !important;
      }
    }

    display: inline-block;
    background-color: $nav-pink;
    height: 100%;
    text-align: center;
    line-height: 85px;

    &:nth-child(2) {
      background-color: lighten($nav-pink, 5%);
    }

    &:nth-child(3) {
      background-color: lighten($nav-pink, 10%);
    }

    &:last-child {
      margin-right: 0;
      background-color: lighten($nav-pink, 15%);
    }

    &:hover {
      background-color: darken($nav-pink, 5%);
    }

    a {
      font-size: emCalc(18px);
      color: white;
    }
  }

  &.f-dropdown {
    background: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border: none;

    &:before {
      border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
      right: 10px;
      left: auto;
    }

    &:after {
      right: 9px;
      left: auto;
    }

    li:hover,
    li:focus {
      background-color: darken($nav-pink, 5%);
    }
  }

}

.openingtimes,
.contact {
  color: white;
  font-size: 1.2em;
}

.openingtimes,
.contact,
.content {
  padding: 1em;
}

.address {
  display: block;
  padding: 0.5em;
  color: white;
  font-size: emCalc(24px);
  cursor: pointer;
  margin-bottom: 0.5em;
}

.slidesholder {
  padding: emCalc(10px) 0;
}

.gallery,
.slides {
  padding: emCalc(5px) auto;
  overflow: hidden;
  &:after {
    clear: both;
  }
}

.slide,
.slide > img {
  height: emCalc(250px);
  float: left;
}

.webmaster {
  text-align: right;
  font-size: emCalc(10px);
}

#index .content,
#team-moabit .content {
  li {
    margin-bottom: 2em;

    img {
      max-width: 17%;
    }
  }
}