#wrapper {
  //@include grid-row;
}

.header,
.mainrow,
.footer {
  //@include grid-row(nest);
  //margin-bottom: emCalc(20px)
  //margin-bottom: $column-gutter;
}

.header {
  & > .logoblock {
    //@include grid-column(4);
    //transition: all 1s
 
  }
  &.index > .logoblock {
    //@include grid-column(4, true, true);
    //transition: all 1s
 
  }
}

.navcolumn {
  //@include grid-column(8, true);
}

.gallerycolumn {
  //@include grid-column($total-columns, true);
}

.addresscolumn {
  //@include grid-column(6);
}

.contactcolumn {
  //@include grid-column(4);
}

.contentcolumn {
  //@include grid-column(8);
}

.webmaster {
  //@include grid-column($total-columns, true);
}
