//#header
//  height: emCalc(100px)

#header,
#nav
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif

.logo
  padding: 0.5em
  padding-left: emCalc(70px)
  margin-bottom: 0
  background-color: $primary-color
  color: white

.address,
.gallery,
.openingtimes,
.contact,
.slides,
.content
  background-color: darkgray

.openingtimes,
.contact,
.content
  padding: 1em
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif

.address
  padding: 0.5em
  color: white
  font-size: emCalc(24px)
  cursor: pointer

.gallery,
.slides
  height: emCalc(260px)
  overflow: hidden
  padding: emCalc(5px) 0
  &:after
    clear: both

.slide,
.slide > img
  max-height: emCalc(250px)
  float: left

//#wrapper
//  margin-top: 1em

.webmaster
  margin: 1em 0
  text-align: right
  font-size: emCalc(10px)